<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">LGU Reservaties</a>
        </div>
        <div>
            <ul class="nav navbar-nav pull-xs-right">

                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/">
                    Home
                  </a>
                </li>

                <li *ngIf="!isLoggedIn()" class="nav-item">
                  <a class="nav-link"
                     routerLink="/login"
                     routerLinkActive="active">
                    Sign in
                  </a>
                </li>
                <li *ngIf="isLoggedIn()" class="nav-item">
                  <a class="nav-link" (click)="logout()"
                     routerLinkActive="active">
                    Sign out
                  </a>
                </li>

                <li *ngIf="isLoggedIn()" class="nav-item">
                  <a class="nav-link"
                     routerLink="/user/info"
                     routerLinkActive="active">
                    Profile
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/reserveren"
                     routerLinkActive="active">
                    Reserveren
                  </a>
                </li>

            </ul>
        </div>

    </div>
</nav>
