<div class="app-scheduler-page">
  <div class="container page">
    <div class="row">
      <a *ngIf="isLoggedIn()" class="nav-link btn btn-primary"
         routerLink="/reservaties"
         routerLinkActive="active">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs">My Reservations</span>
      </a>
    </div>
    <br/>
    <div class="row">
      <jqxScheduler #schedulerReference
                    [date]="date" [width]="'100%'" [height]="800" [source]="dataAdapter" [showLegend]="true" [view]="view"
                    [editDialog]="false"
                    [appointmentDataFields]="appointmentDataFields" [resources]="resources" [views]="views">
      </jqxScheduler>
    </div>
  </div>
</div>
